@use 'reset';
@use 'variables' as *;
@use 'mixins' as mixins;


html {
    background: $light-gradient;
    background-repeat: no-repeat; 
    background-size: cover;       
    background-attachment: fixed;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
}

.header {
    &-container {
        padding-top: 40px;
        padding-bottom: 64px;
    }

    &__logo {
        display: flex;
        justify-content: space-between;
        background-color: $neutral-0-color;
        padding: 12px 16px;
        border-radius: 20px;
        max-width: 1170px;
        max-height: 74px;
        box-sizing: border-box;

        &-img {
            display: flex;
            align-items: center;
        }

        &-theme {
            display: flex;
            align-items: center;
        }
    }
}

.hero {

    &-container {
        padding-bottom: 40px;
    }

    &__title {
        display: flex;
        justify-content: space-between;
        gap: 40px;

        @media (max-width: 550px) {
            flex-direction: column;
            align-items: center;
            gap: 24px;
        }

        &-text {
            @include mixins.text-preset-1;
            color: $neutral-900-color;
        }

        &-filter {
            display: flex;
            align-items: center;
            gap: 12px;

            &-button {
                padding: 8px 20px 10px 20px;
                background-color: $neutral-0-color;
                color: $neutral-900-color;
                @include mixins.text-preset-3;
                border-radius: 30px;
            }
        }
    }

    &__grid {
        margin-top: 32px;
        display: grid;
        gap: 12px;
        grid-template-areas: 
        "DevLens StyleSpy SpeedBoost"
        "JSONWizard TabMasterPro ViewportBuddy"
        "MarkupNotes GridGuides PalettePicker"
        "LinkChecker DOMSnapshot ConsolePlus";

        @media (max-width: 800px) {
            grid-template-areas: 
            "DevLens StyleSpy"
            "SpeedBoost JSONWizard"
            "TabMasterPro ViewportBuddy"
            "MarkupNotes GridGuides"
            "PalettePicker LinkChecker"
            "DOMSnapshot ConsolePlus";
        }

        @media (max-width: 550px) {
            grid-template-areas: 
            "DevLens"
            "StyleSpy"
            "SpeedBoost"
            "JSONWizard"
            "TabMasterPro"
            "ViewportBuddy"
            "MarkupNotes"
            "GridGuides"
            "PalettePicker"
            "LinkChecker"
            "DOMSnapshot"
            "ConsolePlus";
        }

        &-item {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 20px;
            max-width: 382px;
            min-height: 200px;
            box-sizing: border-box;
            background-color: $neutral-0-color;
            border-radius: 20px;

            @media (max-width: 800px) {
                max-width: 346px;
            }

            @media (max-width: 550px) {
                max-width: 343px;
            }

            &-info {
                display: flex;
                gap: 16px;

                &-img {
                    width: 60px;
                    height: 60px;
                }

                &-text {

                    &-name {
                        @include mixins.text-preset-2;
                        color: $neutral-900-color;
                    }

                    &-desc {
                        @include mixins.text-preset-5;
                        color: $neutral-600-color;
                        margin-top: 8px;
                    }
                }
            }

            &-interact {
                display: flex;
                align-items: center;
                justify-content: space-between;

                &-button {
                    padding: 8px 16px;
                    background-color: $neutral-0-color;
                    border: 1px solid $neutral-300-color;
                    border-radius: 30px;
                    @include mixins.text-preset-6;
                    color: $neutral-900-color;
                    cursor: pointer;
                }

                &-switch {
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    width: 36px;
                    height: 20px;
                    box-sizing: border-box;
                    background-color: $neutral-300-color;
                    border-radius: 20px;
                    padding: 2px;
                    cursor: pointer;

                    &.enable {
                        background-color: $red-700-color;
                    }

                    &.enable .hero__grid-item-interact-switch-ball {
                        transform: translateX(15px);
                    }           

                    &-ball {
                        background-color: $neutral-0-color;
                        width: 16px;
                        height: 16px;
                        border-radius: 30px;
                        transition: transform 0.2s cubic-bezier(.19,.74,.83,.67);
                        transform: translateX(0);
                    }
                }
                
            }
        }
    }
}

.devlens-item {
    grid-area: DevLens;

    @media (max-width: 800px) {
        justify-self: end;
    }

    @media (max-width: 550px) {
        justify-self: center;
    }
}

.stylespy-item {
    grid-area: StyleSpy;

    @media (max-width: 550px) {
        justify-self: center;
    }
}

.speedboost-item {
    grid-area: SpeedBoost;

    @media (max-width: 800px) {
        justify-self: end;
    }

    @media (max-width: 550px) {
        justify-self: center;
    }
}

.jsonwizard-item {
    grid-area: JSONWizard;

    @media (max-width: 550px) {
        justify-self: center;
    }
}

.tabmasterpro-item {
    grid-area: TabMasterPro;

    @media (max-width: 800px) {
        justify-self: end;
    }

    @media (max-width: 550px) {
        justify-self: center;
    }
}

.viewportbuddy-item {
    grid-area: ViewportBuddy;

    @media (max-width: 550px) {
        justify-self: center;
    }
}

.markupnotes-item {
    grid-area: MarkupNotes;

    @media (max-width: 800px) {
        justify-self: end;
    }

    @media (max-width: 550px) {
        justify-self: center;
    }
}

.gridguides-item {
    grid-area: GridGuides;

    @media (max-width: 550px) {
        justify-self: center;
    }
}

.palettepicker-item {
    grid-area: PalettePicker;

    @media (max-width: 800px) {
        justify-self: end;
    }

    @media (max-width: 550px) {
        justify-self: center;
    }
}

.linkchecker-item {
    grid-area: LinkChecker;

    @media (max-width: 550px) {
        justify-self: center;
    }
}

.domsnapshot-item {
    grid-area: DOMSnapshot;

    @media (max-width: 800px) {
        justify-self: end;
    }

    @media (max-width: 550px) {
        justify-self: center;
    }
}

.consoleplus-item {
    grid-area: ConsolePlus;

    @media (max-width: 550px) {
        justify-self: center;
    }
}
